/* adding some style for card  */
.card{
    width: 300px;
    height: 600px;
    /* border: 1px solid #95A0A7; */
    border-radius: 8px;
}

/* image size fixing for card  */
.card img{
    width: 280px;
    height: 280px;
    margin: 7px;
}
/* text align left  */
.align-left{
    text-align: left;
}