/* using grid for exercise and activity  */
.exercises{
    display: grid;
    grid-template-columns: 3fr  1fr;
}
/* meking site responsive for mobile device  */
@media screen and (max-width: 700px) {
    .exercises{
        display: grid;
        grid-template-columns: 1fr;
    }
  }